/*
Theme Name:           Flatsome
Theme URI:            http://flatsome.uxthemes.com/
Author:               UX-Themes
Author URI:           http://www.uxthemes.com/
Description:          Multi-Purpose Responsive WooCommerce Theme
Version:              3.15.6
Requires at least:    5.0.0
Requires PHP:         5.6.20
WC requires at least: 4.4.0
Text Domain:          flatsome
License:              http://themeforest.net/licenses
License URI:          http://themeforest.net/licenses
*/


/***************
All custom CSS should be added to Flatsome > Advanced > Custom CSS,
or in the style.css of a Child Theme.
***************/

/*Header*/
.header-main {
    background: #fe0000;
}

.flex-right .header-account-title, .flex-right .header-cart-title {
    color: #fff;
    margin-left: 10px;
}

.flex-right .icon-user:before, .cart-icon strong, .header .nav-uppercase > li > a {
    color: #fff;
}

.flex-right .cart-icon strong:after {
    border: none;
}

.flex-right .cart-item .cart-icon strong {
    border: none;
    position: absolute;
    top: -12px;
    right: -6px;
    background: #ffe300;
    border-radius: 50%;
    width: auto;
    min-width: 18px;
    height: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.flex-right .cart-item .cart-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M184,184H69.8L41.9,30.6A8,8,0,0,0,34.1,24H16" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><circle cx="80" cy="204" r="20" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><circle cx="184" cy="204" r="20" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><path d="M62.5,144H188.1a15.9,15.9,0,0,0,15.7-13.1L216,64H48" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 30px;
    height: 30px;
}

.header .nav-uppercase > li > a {
    text-transform: initial;
}

/*Footer*/
.footer div#block_widget-3 {
    max-width: 80%;
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
}

.footer div#block_widget-3 .widget-title {
    text-transform: initial;
    font-weight: 400;
}

.footer div#gallery-3 .gallery-item {
    display: flex;
    align-items: center;
    width: 50%;
    max-height: 45px;
    padding: 0;
}

.footer div#media_gallery-3 {
    max-width: 100vw;
    flex-basis: 100vw;
    background: #000;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
}

.footer div#media_gallery-3 img {
    width: auto;
    height: 48px;
    object-fit: contain;
}

.footer div#media_gallery-3 .gallery-item {
    max-width: max-content;
    padding: 1px 10px;
}

.footer div#media_gallery-3 .gallery {
    width: 100vw;
    justify-content: center;
}

.footer div#text-20, .footer div#media_gallery-2, .footer div#media_gallery-5 {
    max-width: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    align-items: center;
}

.footer div#media_gallery-2 .gallery-item {
    padding: 0;
    max-width: max-content;
}

.footer div#media_gallery-2 img {
    width: 53px;
    height: auto;
    max-height: 45px;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 8px;
    border: 1px solid #eee;
    margin-right: 5px;
}

.footer div#gallery-3 img {
    width: 146px;
    object-fit: contain;
    border-radius: 6px;
}

.footer div#gallery-3 .gallery-item {
    display: flex;
    align-items: center;
    width: 50%;
    max-height: 45px;
    padding: 0;
}

.copyright-footer {
    border-top: 1px solid #eee;
    padding-top: 15px;
}