/*
Theme Name:           Flatsome
Theme URI:            http://flatsome.uxthemes.com/
Author:               UX-Themes
Author URI:           http://www.uxthemes.com/
Description:          Multi-Purpose Responsive WooCommerce Theme
Version:              3.15.6
Requires at least:    5.0.0
Requires PHP:         5.6.20
WC requires at least: 4.4.0
Text Domain:          flatsome
License:              http://themeforest.net/licenses
License URI:          http://themeforest.net/licenses
*/


/***************
All custom CSS should be added to Flatsome > Advanced > Custom CSS,
or in the style.css of a Child Theme.
***************/

/*Global*/

html body, html body.full-width, html body.expand,
.header-wrapper.stuck {
    max-width: 1920px !important;
}

body .container-width, body .full-width .ubermenu-nav, body .container, body .row {
    max-width: 1216px;
}

div#content, main#main {
    background: #f5f6f8;
}

div#content {
    padding-bottom: 20px;
}

#wrapper > .message-wrapper {
    text-align: center;
}

.elementor a, .elementor a:hover {
    color: red;
    text-decoration: underline;
}

input[type=email], input[type=date], input[type=search], input[type=number], input[type=text], input[type=tel], input[type=url], input[type=password], textarea, select, .select-resize-ghost, .select2-container .select2-choice, .select2-container .select2-selection {
    box-shadow: none;
}

/*Header*/
.header-main {
    background: #4c6c93;
}

.flex-right .header-account-title, .flex-right .header-cart-title, .nav > li > a > i + span {
    color: #fff;
    margin-left: 10px;
}

.flex-right .icon-user:before, .cart-icon strong, .header .nav-uppercase > li > a {
    color: #fff;
}

.flex-right .cart-icon strong:after {
    border: none;
}

.flex-right .cart-item .cart-icon strong {
    border: none;
    position: absolute;
    top: -12px;
    right: -6px;
    background: #ffe300;
    border-radius: 50%;
    width: auto;
    min-width: 18px;
    height: 18px;
    padding: 5px 4px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.flex-right .cart-item .cart-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><path d="M184,184H69.8L41.9,30.6A8,8,0,0,0,34.1,24H16" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><circle cx="80" cy="204" r="20" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><circle cx="184" cy="204" r="20" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/><path d="M62.5,144H188.1a15.9,15.9,0,0,0,15.7-13.1L216,64H48" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="8"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 30px;
    height: 30px;
}

.header .nav-uppercase > li > a {
    text-transform: initial;
}

.header .header-main .nav > li > a {
    font-size: 13px;
}

.header .html_topbar_left a span {
    max-width: 140px;
    display: flex;
}

.header .html_topbar_right a span {
    max-width: 65px;
}

.header .html_topbar_left a svg, .header .html_topbar_right svg {
    margin-right: 10px;
}

.header-nav .header-search-form .searchform input {
    background: #fff;
    border-radius: 0.9em 0 0 0.9em;
    border: none;
    height: 40px;
}

.header-nav .header-search-form .header-search-form-wrapper .ux-search-submit {
    background-color: #fff;
    border-radius: 0 0.9em 0.9em 0 !important;
    border: none;
    height: 40px;
}

.header-search-form-wrapper .ux-search-submit .icon-search:before {
    color: #000;
}

/*Mega menu*/
#wide-nav > .flex-row > .flex-left {
    max-width: 237px;
    min-width: 237px;
}

#mega_menu > li > a {
    font-size: .78em;
    padding-left: 5px;
    padding-right: 5px;
}

#mega_menu a, #mega_menu a:hover {
    background-color: #fff;
}

#mega_menu a {
    border-top: none;
}

#mega-menu-wrap .sf-menu a {
    padding-left: 5px;
    padding-right: 5px;
}

#mega-menu-wrap .sf-vertical.sf-arrows > li > .sf-with-ul:after {
    border-left-color: #3f3f3f;
}

#mega-menu-wrap .sf-arrows .sf-with-ul {
    padding-right: 5px;
}

#mega_menu.sf-vertical.sf-arrows > li > .sf-with-ul:after, #mega-menu-wrap .sf-arrows ul .sf-with-ul:after {
    margin-right: -14px;
}

#mega_menu, #mega_menu > li > a {
    border: none;
}

#mega-menu-wrap img._before, #mega-menu-wrap .rtl .menu-item img._after,
#mega-menu-wrap .menu-item i._before, #mega-menu-wrap .rtl .menu-item i._after {
    width: 20px;
    margin-right: 4px;
    min-height: 14px;
    text-align: center;
}

.header-bottom .header-nav img, .header-bottom-nav img {
    width: 35px;
    height: 24px;
    object-fit: contain
}

#wide-nav .mobile-nav {
    align-items: baseline;
}

#wide-nav .mobile-nav a {
    font-weight: 400;
}

#wide-nav .mobile-nav .menu-item {
    width: 25%;
    margin: 0;
    text-align: center;
}

@media (min-width: 1200px) {
    .header-bottom .nav > li {
        margin-right: 65px;
    }
}

@media (max-width: 1280px) {
    #logo {
        max-width: 150px;
    }
}

@media (max-width: 1028px) {
    .header-bottom .nav > li a {
        flex-direction: column;
    }

    .nav li.header-search-form {
        margin-right: 0;
    }
}

@media (max-width: 849px) {
    .header-main .mobile-nav li.html.custom {
        display: block;
    }

    .header-main .mobile-nav li.html.custom span {
        display: none;
    }
}

.account-item .icon-user:before {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    color: #fff;
}

.nav-icon .icon-menu:before {
    color: #fff;
}

#mega-menu-wrap {
    background: #413b49;
    border-radius: 5px 5px 0 0;
}

#content .group_banner {
    /*justify-content: end;*/
}

#content .group_banner .medium-2 {
    display: none;
}

#content .group_banner .medium-10 {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
}

.slider-nav-light .flickity-page-dots .dot.is-selected {
    background-color: #f81800;
}

.group_banner .bg.bg-loaded {
    /*background-size: contain !important;*/
    /*background-repeat: no-repeat !important;*/
    /*background-position: top;*/
}

.group_banner .flickity-page-dots {
    bottom: -25px;
}

.group_banner .row-small > .flickity-viewport > .flickity-slider > .col, .group_banner .row-small > .col {
    padding: 0 5px 5px;
}

.flickity-page-dots .dot {
    width: 8px;
    height: 8px;
}

.slider-nav-light .flickity-page-dots .dot {
    border-color: transparent;
}

.flickity-page-dots .dot {
    background: #D4D7D9;
    border-color: transparent;
}

@media (min-width: 850px) {
    #content .group_banner .medium-2 {
        width: 230px;
        max-width: 230px;
        display: block;
        flex-basis: 100%;
    }

    #content .group_banner .medium-10 {
        width: calc(100% - 237px);
        max-width: calc(100% - 237px);
        padding: 0;
    }
}

@media (max-width: 849px) {
    #content .group_banner .medium-10 .large-8 {
        position: relative !important;
        top: initial !important;
    }

    #content .group_banner .medium-10 .large-4 {
        width: 50%;
        flex-basis: 50%;
        position: relative !important;
        top: initial !important;
        left: 0 !important;
    }
}

/*End Mega menu*/
/*Search*/
.hangduc_results {
    display: flex;
}

/*Search*/
/*Track Order*/
.page-id-76 .page-title-inner h1 {
    text-align: center;
}

.track_order {
    padding-top: 30px;
}

.track_order > p:first-child {
    display: none;
}

.track_order .form-row .button {
    background-color: #fe0000;
    border-radius: 10px;
    color: #fff;
}

/*End Track Order*/
/*End Header*/

/*Banner Slider*/
.banner-grid-wrapper .banner-grid .banner_slider {
    padding-left: 22px;
}

.banner-grid-wrapper .banner, .banner-grid-wrapper .banner-bg {
    border-radius: 8px;
    background-color: transparent !important;
}

.banner-grid-wrapper .box-shadow-1 {
    box-shadow: none;
}

/*End Banner Slider*/

/*Footer*/
.footer {
    padding-top: 0;
}

.footer .widget-title {
    padding-bottom: 12px;
    display: block;
    text-transform: initial;
}

.footer .textwidget p {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
}

.footer div#block_widget-3 {
    max-width: 80%;
    flex-basis: 80%;
    display: flex;
    justify-content: flex-end;
}

.footer div#block_widget-3 .widget-title {
    text-transform: initial;
    font-weight: 400;
    z-index: 1;
    padding-top: 30px;
    margin-right: 25px;
    position: relative;
    max-width: 450px;
}

.footer div#block_widget-3 .widget-title:before {
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve"><defs></defs><g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" ><circle cx="45" cy="45" r="45" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(35,91,216); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) "/><path d="M 64.567 26.495 H 25.433 c -3.142 0 -5.689 2.547 -5.689 5.689 v 25.631 c 0 3.142 2.547 5.689 5.689 5.689 h 39.135 c 3.142 0 5.689 -2.547 5.689 -5.689 V 32.184 C 70.256 29.043 67.709 26.495 64.567 26.495 z M 63.343 57.47 c -0.295 0.306 -0.688 0.46 -1.081 0.46 c -0.374 0 -0.749 -0.14 -1.04 -0.419 l -9.419 -9.065 l -1.357 1.489 c -1.394 1.528 -3.378 2.404 -5.446 2.404 c -2.068 0 -4.053 -0.876 -5.446 -2.404 l -1.337 -1.467 l -9.022 9.023 c -0.292 0.293 -0.677 0.439 -1.061 0.439 s -0.768 -0.146 -1.061 -0.439 c -0.586 -0.586 -0.586 -1.535 0 -2.121 l 9.12 -9.121 L 26.63 35.754 c -0.558 -0.612 -0.514 -1.561 0.098 -2.119 c 0.613 -0.558 1.562 -0.514 2.119 0.098 l 12.924 14.18 c 0.838 0.92 1.985 1.426 3.229 1.426 s 2.392 -0.506 3.229 -1.426 l 2.422 -2.657 l 10.502 -11.522 c 0.559 -0.612 1.507 -0.655 2.119 -0.098 c 0.612 0.558 0.656 1.506 0.098 2.119 l -9.546 10.474 l 9.477 9.121 C 63.898 55.924 63.917 56.873 63.343 57.47 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" /></g></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -37px;
}

.footer .wpcf7, .footer .social-icons {
    padding-top: 30px;
}

.footer .social-icons a {
    margin-bottom: 0;
}

.footer .wpcf7 .wpcf7-not-valid-tip {
    background-color: transparent;
    color: #FE0000;
}

.footer .wpcf7 .wpcf7-not-valid-tip:after {
    display: none;
}

.footer .wpcf7 input {
    border-radius: 6px;
    width: 100%;
}

.footer input.wpcf7-not-valid, .footer .woocommerce-invalid input {
    border-color: red;
}

.footer .wpcf7 form.failed .wpcf7-response-output, .footer .wpcf7 form.aborted .wpcf7-response-output {
    border-color: red;
}

.footer .wpcf7 .button {
    margin: 0 7px;
    background: #41b948;
    border-radius: 6px
}

.footer span.wpcf7-spinner {
    display: none;
}

.footer div#gallery-3 .gallery-item {
    display: flex;
    align-items: center;
    width: 50%;
    max-height: 45px;
    padding: 0;
}

.footer div#media_gallery-3 {
    max-width: 100vw;
    flex-basis: 100vw;
    background: #000;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
}

.footer div#media_gallery-3 img {
    width: auto;
    height: 48px;
    object-fit: contain;
}

.footer div#media_gallery-3 .gallery-item {
    max-width: max-content;
    padding: 1px 10px;
}

.footer div#media_gallery-3 .gallery {
    width: 100vw;
    justify-content: center;
}

.footer div#text-20, .footer div#media_gallery-2, .footer div#media_gallery-5 {
    max-width: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    align-items: center;
}

.footer .gallery {
    padding-left: 15px;
    padding-right: 15px;
}

div#text-18 a {
    color: #ed3324;
}

.footer div#text-20 .textwidget p {
    font-weight: 600;
}

.footer div#media_gallery-2 .gallery-item {
    padding: 0;
    max-width: max-content;
}

.footer div#media_gallery-2 img {
    width: 53px;
    height: auto;
    max-height: 45px;
    object-fit: contain;
    aspect-ratio: 1;
    border-radius: 8px;
    border: 1px solid #eee;
    margin-right: 5px;
    margin-bottom: 3px;
}

.footer div#gallery-3 img {
    width: 146px;
    object-fit: contain;
    border-radius: 6px;
}

.footer div#gallery-3 .gallery-item {
    display: flex;
    align-items: center;
    width: 50%;
    max-height: 45px;
    padding: 0;
}

.copyright-footer {
    padding-top: 15px;
    font-size: 12px;
    max-width: 80%;
    margin: 0 auto;
}

.footer-widgets {
    overflow: hidden;
}

.footer-widgets .widget {
    margin-bottom: 15px;
}

.absolute-footer {
    color: #3f3f3f;
}

.absolute-footer .footer-primary {
    border-top: 1px solid #eee;
}

.absolute-footer .footer-secondary {
    display: none;
}

.footer-wrapper .back-to-top {
    background: rgba(0, 0, 0, 0.3);
    border: none;
}

.footer-wrapper .back-to-top:hover {
    background: #ed3324;
}

.footer-wrapper .back-to-top i {
    top: 0;
}

@media (min-width: 991px) {
    .footer div#block_widget-2:before {
        content: "";
        max-width: 100vw;
        flex-basis: 100vw;
        background: #f4f4f4;
        position: absolute;
        transform: translateX(-50%);
        width: 100vw;
        height: 100%;
    }

    .footer div#block_widget-3:before {
        content: "";
        max-width: 100vw;
        flex-basis: 100vw;
        background: #f4f4f4;
        position: absolute;
        left: 0;
        transform: translateX(0%);
        width: 100vw;
        height: 100%;
    }
}

@media (max-width: 849px) {
    .footer div#block_widget-3 .widget-title {
        display: none;
    }

    .footer .wpcf7, .footer .social-icons {
        padding-top: 20px;
        width: 100%;
        text-align: center;
    }

    .footer .wpcf7 {
        padding-top: 0;
    }

    .footer div#block_widget-3 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .footer div#block_widget-3 .form-flat {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer div#block_widget-3 .flex-grow {
        width: calc(100% - 105px);
        display: block;
        flex: initial;
    }

    .footer div#block_widget-3 .ml-half {
        width: 100px;
        margin-left: 5px;
    }

    .footer div#text-20, .footer div#media_gallery-2, .footer div#media_gallery-5 {
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        align-items: center;
    }
}

/*Footer End*/

/*Homepage*/
.section-title {
    margin: 0;
    color: white;
    background: linear-gradient(0deg, #bb0015, #e7001a 100%, #d70018 0, #d70018 0, #fff 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.section-title b {
    opacity: 0;
}

.section-title span {
    font-family: Signika, sans-serif;
    border: none;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    filter: drop-shadow(0 2px 0 #fe0000);
    text-shadow: 3px 0 #fe0000, -2px 0 #fe0000, 0 2px #fe0000, 0 -2px #fe0000, -2px -2px #fe0000, 3px 2px #fe0000, -2px 2px #fe0000, 3px -2px #fe0000;
}

.title_category {
    margin-bottom: 0;
}

.content_category .header-title {
    text-transform: none;
    font-weight: 500;
}

.section-title-container {
    margin-top: 20px;
    margin-bottom: 0;
}

.top-sp-banchay .button.text-center {
    display: block;
    max-width: 250px;
    margin: 0 auto;
}

.content-area .top-sp-banchay > .col {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto 1px;
}

.top-sp-banchay .row-small > .col {
    padding-left: 5px;
    padding-right: 5px;
}

.top-sp-banchay .products .col-inner {
    background: #fff;
    padding: 10px;
    transition: .3s;
    border-radius: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .10196078431372549), 0 2px 6px 2px rgba(60, 64, 67, .14901960784313725);
}

.grid-tools a.quick-view {
    background: #fe0000;
}

#wrapper .content_category, #wrapper .blog_useful, .top-sp-banchay > .col, .resent_product, .banner_mini .woocommerce,
.content-area .uudai-hangduc {
    max-width: 1410px;
    max-width: 1186px;
    padding: 32px 0 32px 0;
    margin-bottom: 1px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.content_category .box-image {
    width: 6em;
    height: 6em;
    background: #f1f1f1;
    padding: 1.2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    place-content: center;
    transition: 0.3s;
}

.content_category .box-category:hover .box-image {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
    transition: 0.3s;
}

.content_category .count {
    display: none;
}

.uudai-hangduc .slider_uudai {
    padding: 0;
}

.slider_uudai .section-content:not(.slick-slider) {
    display: none;
}

.uudai-hangduc .slider_uudai .slick-prev {
    left: 0;
}

.uudai-hangduc .slider_uudai .slick-next {
    right: 0;
}

.slider_uudai .slick-slide {
    padding-right: 6px;
}

.slider_uudai .slick-active {
    padding-right: 6px;
}

.slider_uudai .slick-active + .slick-active {
    padding-left: 3px;
    padding-right: 3px;
}

.slider_uudai .slick-active + .slick-active + .slick-active {
    padding-left: 6px;
    padding-right: 0;
}

@media (max-width: 1024px) {
    .slider_uudai .slick-slide {
        padding-right: 3px;
    }

    .slider_uudai .slick-active {
        padding-right: 3px;
    }

    .slider_uudai .slick-active + .slick-active {
        padding-left: 3px;
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .slider_uudai .slick-slide, .slider_uudai .slick-active {
        padding: 0;
    }

    .slider_uudai .slick-active + .slick-active {
        padding: 0;
    }
}

.slider-uudai .featured-box {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.slider-uudai .featured-box .uppercase {
    font-weight: bold;
}

.slider-uudai {
    background: #fff;
}

.title-uudai a {
    font-size: 0;
}

.title-uudai .section-title {
    position: relative;
}

.title-uudai a:before {
    content: "";
    background: transparent;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.title-uudai a {
    font-size: 0;
}

.title-uudai .section-title {
    position: relative;
}

.title-uudai a:before {
    content: "";
    background: transparent;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.hangduc-mstm a {
    color: white;
    font-size: 18px;
    padding-right: 20px;
    filter: drop-shadow(0 1px 0 #fe0000);
    text-shadow: 2px 0 #fe0000, -1px 0 #fe0000, 0 1px #fe0000, 0 -1px #fe0000, -1px -1px #fe0000, 2px 1px #fe0000, -1px 1px #fe0000, 2px -1px #fe0000;
}

.hangduc-mstm a:hover {
    color: white;
}

.hangduc-mstm a i {
    display: none;
}

@media (min-width: 768px) {
    .hangduc-mstm a {
        position: absolute;
        right: 0;
    }

    .hangduc-mstm .section-title-main {
        padding-right: 118px;
    }
}

@media (max-width: 767px) {
    .section-title span {
        font-size: 19px;
        filter: drop-shadow(0 1px 0 #fe0000);
    }
}

/*Resent Product*/
.badge-outline, .badge-circle {
    margin-left: 0;
}

.badge-circle + .badge {
    margin-top: 0;
    margin-left: 0;
}

.resent_product {
    max-width: 1410px !important;
    max-width: 1186px !important;
}

.resent_product .woocommerce .product .col-inner {
    background: #fff;
    padding: 10px;
    transition: .3s;
    border-radius: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .10196078431372549), 0 2px 6px 2px rgba(60, 64, 67, .14901960784313725);

}

.resent_product .woocommerce .product {
    padding: 5px;
}

.resent_product .col {
    padding-bottom: 0;
}

.content-area .slick-next {
    background-image: url("assets/img/hangduc-arrow-right.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.resent_product .slick-next {
    right: 2px;
}

.content-area .slick-arrow {
    background-color: #3f3f3f80;
    border-radius: 99px;
    width: 32px;
    height: 32px;
}

.content-area .slick-arrow:hover {
    background-color: #3f3f3f80;
}

.content-area .slick-arrow:before {
    font-size: 0;
}

.content-area .slick-prev {
    z-index: 9;
    background-image: url("assets/img/hangduc-arrow-left.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.resent_product .slick-prev {
    left: 2px;
}

.price ins .woocommerce-Price-amount {
    color: #ed3324;
}

.title-wrapper .category {
    font-weight: bold;
}

.product-title a {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    transition: all .2s ease;
    font-weight: 500;
}

/*End Resent Product*/

/*Blog*/
.box-list-view .box .box-image, .box-vertical .box-image {
    width: 100%;
    object-fit: contain;
}

.box-vertical .box-image img {
    width: 100%;
    object-fit: unset;
}

.box-blog-post img {
    object-fit: fill !important;
}

.box-blog-post .from_the_blog_excerpt {
    display: none;
}

.grid-col-1 .is-large {
    padding-bottom: 50px;
    position: relative;
}

.grid-col-1 .is-large:before {
    content: "Hot";
    position: absolute;
    bottom: 10px;
    background: red;
    padding-left: 5px;
    width: 43px;
    height: 24px;
}

.grid-col-1 .is-large:after {
    content: "";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 25px;
    border-top: 12px solid red;
    border-bottom: 12px solid red;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}

#wrapper .blog_useful .post-item {
    padding-left: 10px;
    padding-right: 10px;
}

.hangduc-mstm {
    margin-bottom: 0;
}

/*Dear Ngon*/
.banner_mini {
    padding-bottom: 0;
}

.banner_mini .col-inner {
    background-color: #fff;
}

.banner_mini .img-inner img {
    border-radius: 0.5em 0.5em 0 0;
}

.banner_mini .woocommerce {
    max-width: 1410px !important;
    max-width: 1186px !important;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.banner_mini .col-inner {
    background-color: #fff;
}

.banner_mini .slick-next, .flash_sales_countdown .slick-next {
    right: 2px;
}

.banner_mini .slick-prev, .flash_sales_countdown .slick-prev {
    left: 2px;
}

.banner_mini .woocommerce .product .col-inner {
    background: #fff;
    padding: 10px;
    transition: .3s;
    border-radius: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .10196078431372549), 0 2px 6px 2px rgba(60, 64, 67, .14901960784313725);

}

.banner_mini .woocommerce .product {
    padding: 5px;
}

@media (max-width: 1230px) {
    #wrapper .content_category, #wrapper .blog_useful, .resent_product, .top-sp-banchay > .col,
    .content-area .uudai-hangduc {
        margin: 0 auto 15px;
        max-width: calc(100% - 30px) !important;
    }
}

.banner_mini .col-inner .banner-desktop, .banner_mini .col-inner .banner-mobile {
    margin-bottom: 0;
}

.banner_mini .banner-mobile {
    display: none;
}

@media (max-width: 1023px) {
    .banner_mini .banner-mobile {
        display: block;
        position: relative;
    }

    .banner_mini .banner-desktop {
        display: none;
    }

    .banner_mini .banner-mobile:before {
        content: "";
        width: 100%;
        height: 50%;
        background: #f5f6f8;
        position: absolute;
    }
}

@media (max-width: 991px) {
    .box-vertical .box-image img {
        object-fit: cover;
    }

    .box-blog-post img {
        object-fit: cover !important;
    }
}

@media (max-width: 767px) {
    .hangduc-mstm a {
        display: none;
    }

    #wrapper .blog_useful, #wrapper .content_category {
        padding: 20px 0;
    }
}

/*Homepage End*/

/*Landing Page*/
/*Bao Hanh Nhanh Gon*/

.elementor-section.elementor-section-boxed.bao-hanh > .elementor-container {
    max-width: 100%;
}

.banner-baohanh .elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 0;
}

.elementor-page-578 .row-main > .large-12 {
    padding: 0;
}

.page .page-wrapper {
    padding-top: 0;
}

.page div#content .row-main {
    background-color: #fff;
    max-width: 1410px;
}


.landing-page-content.container {
    padding: 0;
    max-width: none;
}

.right-side img {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    will-change: transform;
    animation: fadeInRight .6s ease;
    animation-fill-mode: both;
    object-fit: contain;
}

.warranty-page .container {
    max-width: 100%;
    background: #fff;
    margin-top: 14px;
    padding: 18px 32px;
}

.warranty-page .warranty-short-description {
    margin-top: 0;
    padding: 0;
}

.warranty-page .warranty-short-description ul li {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #3f3f3f;
    position: relative;
}

.warranty-page .warranty-process-road {
    padding: 26px;
    position: relative;
}

.warranty-page .warranty-process-road .road {
    position: absolute;
    width: 100%;
    top: 340px;
    left: 0;
}

.warranty-page .warranty-process-road .process-step {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 9rem;
}

.left-side {
    flex-grow: 1;
    flex-basis: 50%;
}

.right-side {
    flex-grow: 1;
    flex-basis: 50%;
    position: relative;
}

.warranty-page .warranty-process-road .step-content .step-title {
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #3f3f3f;
}

.warranty-page .warranty-process-road .step-content .step-description {
    padding-top: 2rem;
    color: #3f3f3f;
    font-weight: 700;
}

.warranty-page .warranty-process-road .step-content .step-description ul {
    font-weight: 400;
}

.warranty-page .warranty-process-road .step-content .step-description p {
    font-size: 16px;
    line-height: 36px;
    color: #3f3f3f;
    margin-bottom: 8px;
    padding-left: 5px;
}

.font-700 {
    font-weight: 700;
}

.text-red {
    color: red;
}

.bao-hanh ul {
    list-style: disc;
    margin: 0;
}

.warranty-page .warranty-process-road .step-content .step-description ul li {
    font-size: 16px;
    line-height: 32px;
    color: #3f3f3f;
    position: relative;
    margin: 0;
}

.warranty-page .warranty-process-road .step-1 {
    padding: 0 0 0 115px;
}

.warranty-page .warranty-process-road .step-1 .right-side img.row-step-1 {
    left: -30px;
}

.warranty-page .warranty-process-road .step-1 .step-title-decorate {
    position: absolute;
    width: 295px;
    height: 97px;
    top: 13px;
    left: -57px;
    transform: translate(-50%, 25%);
}

.warranty-page .warranty-process-road .step-1 .right-side img {
    box-shadow: none;
}

.warranty-page .warranty-process-road .step-content .step-title img {
    margin-right: 10px;
}

.warranty-page .warranty-process-road .step-1 .step-title {
    position: relative;
}

.warranty-page .warranty-process-road .step-1 .left-side {
    width: 345px;
}

.warranty-page .warranty-process-road .step-2 {
    padding-top: 8em;
}

.warranty-page .warranty-process-road .step-2 .right-side .step2 {
    width: 525px;
    height: auto;
    box-shadow: none;
}

.warranty-page .warranty-process-road .step-2 .step-title {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 9rem;
    margin-bottom: 6rem;
}

.warranty-page .warranty-process-road .step-2 .step-title-decorate {
    position: absolute;
    width: 440px;
    height: 158px;
    top: 0;
    right: 0;
    transform: translate(45%, 5%);
}

.warranty-page .warranty-process-road .step-3 .step-title-decorate {
    position: absolute;
    height: 95px;
    top: -5px;
    left: -224px;
    width: 350px;
    box-shadow: none;
    transform: translate(-11%, 40%);
}

.warranty-page .warranty-process-road .step-4 {
    padding-top: 10em;
}

.warranty-page .warranty-process-road .step-3 .step-title .step3 {
    margin-left: -23px;
    margin-right: 0;
    width: 15px;
    height: auto;
    margin-top: 8px;
    box-shadow: none;
}

.warranty-page .warranty-process-road .step-3 .right-side .step-description p {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 700;
}

.warranty-page .warranty-process-road .step-3 .left-side {
    text-align: center;
    padding-top: 5rem;
}

.warranty-page .warranty-process-road .step-content .step-description ul li {
    font-size: 16px;
    line-height: 32px;
    color: #3f3f3f;
    position: relative;
}

b, strong {
    font-weight: bolder;
}

.warranty-page .warranty-process-road .step-4 .step-title {
    position: relative;
    display: flex;
    padding-right: 23rem;
    justify-content: flex-end;
}

.warranty-page .warranty-process-road .step-2 .step-description ul li ul li {
    list-style-type: "+";
}

.warranty-page .warranty-process-road .step-2 .step-description ul li ul li strong {
    margin-left: 3px;
}

.warranty-page .warranty-process-road .step-4 .step-title-decorate {
    position: absolute;
    top: -37px;
    right: 0;
    transform: translate(25%, 50%);
}

@media (max-width: 1350px) {
    .warranty-process-road .road {
        display: none;
    }

    .warranty-process-road .left-side {
        z-index: 10;
    }

    .warranty-page .warranty-process-road .step-2,
    .warranty-page .warranty-process-road .process-step {
        padding-top: 3rem;
    }

    .warranty-page .warranty-process-road .step-4 .step-title {
        padding-right: 8rem;
    }

    .warranty-page .warranty-process-road .step-4 .step-title-decorate {
        top: -2px;
    }
}

@media (max-width: 767px) {
    .elementor-column-gap-default > .elementor-column > .elementor-element-populated {
        padding: 15px;
    }

    .step-title img:last-child {
        display: none;
    }

    .warranty-page .container, .warranty-page .warranty-process-road .step-1 {
        padding: 0;
    }

    .banner-section {
        position: relative;
        width: 100%;
        padding-bottom: 9%;
        height: 100%;
    }

    .banner-baohanh .elementor-widget-container {
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 29%;

    }

    .bao-hanh-nhanh-gon .img-tiepnhan, .banner-baohanh img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        margin: auto;
        max-width: 100%;
    }

    .warranty-page .warranty-short-description ul li {
        font-size: 18px;
        line-height: 26px;
    }

    .warranty-page .warranty-process-road .step-4 .step-title {
        padding-right: 0;
        display: block;
    }

    .warranty-page .warranty-process-road .process-step {
        flex-direction: column;
    }

    .warranty-page .warranty-process-road .step-2, .warranty-page .warranty-process-road .step-4 {
        flex-direction: column-reverse;
    }

    .warranty-page .warranty-process-road .process-step img {
        position: relative;
    }

    .warranty-page .warranty-process-road .step-2 .step-title {
        margin-bottom: 0;
        justify-content: flex-start;
    }

    .warranty-page .warranty-process-road .step-1 .right-side img.row-step-1 {
        left: 0;
        margin: 0;
    }

    .warranty-page .warranty-process-road .step-3 .step-title .step3 {
        margin: 0;
    }

    .warranty-page .warranty-process-road .step-3 .left-side {
        padding-top: 0;
    }
}

/*Khuyen Mai*/

.postid-662 .elementor-heading-title {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.postid-662 .elementor-column-gap-default .elementor-col-50 .elementor-widget-container {
    width: 100%;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 1px 6px 0 rgba(72, 139, 216, 0.10);
}

.postid-662 .elementor-column-gap-default .elementor-col-50 .elementor-widget-container h3 {
    font-size: 16px;
}

.postid-662 .elementor-widget-text-editor .elementor-widget-container p {
    margin: 0;
    font-size: 14px;
}

.postid-662 .elementor-widget:not(:last-child) {
    margin-bottom: 0;
}

.postid-662 .elementor-widget-text-editor .elementor-widget-container {
    padding: 20px;
}

@media (max-width: 767px) {
    .postid-662 .elementor-heading-title {
        font-size: 26px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .postid-662 .elementor-column-gap-default .elementor-col-50 .elementor-element-populated {
        padding-left: 0;
        padding-right: 0;
    }
}

/*End Khuyen Mai*/
/*Gioi Thieu Cong Ty*/
.page-id-752 .content-banner-full .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1920px;
    width: 100vw;
    margin: 0 auto;
}

.elementor-section.elementor-section-boxed.content-banner-full > .elementor-container {
    max-width: 1920px;
    width: 100vw;
    margin: 0 auto;
}

.page-id-752 .elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 0;
    justify-content: center;
}

.content-banner-full .elementor-widget-container * {
    color: #fff;
    font-size: 1.02em;
}

.content-banner-full .elementor-widget-container *:not(:last-child) {
    margin-bottom: 2rem;
}

.section_shape_outside h2 {
    font-size: 2em;
}

.section_shape_outside .elementor-widget-container h2:first-child {
    color: #ed3324;
    margin-bottom: 0.8rem;
}

.section_shape_outside p {
    font-size: 1em;
}

.section_shape_outside p {
    color: #ed3324;
}

.section_shape_outside p.text--black {
    color: #3f3f3f;
}

.doitac-hangduc .elementor-widget-container p {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.doitac-hangduc .elementor-widget-container p img {
    margin: 10px;
}

@media (min-width: 768px) {
    .doitac-hangduc .elementor-widget-container p img {
        margin: 10px 35px;
    }

    .section_shape_outside {
        padding: 100px 0;
    }

    .column_shape_outside .elementor-element-populated {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .content_left {
        text-align: right;
    }

    .content_left:before,
    .content_right:before {
        content: "";
        display: block;
        width: 200px;
        height: 400px;
        background-image: url(/wp-content/uploads/2023/07/hangduc-vision.png);
        background-repeat: no-repeat;
        background-size: cover;
        shape-margin: 20px;
        opacity: 0;
    }

    .content_left:before {
        background-position: left center;
        float: right;
        margin-right: -1.5rem;
        clip-path: ellipse(70% 35% at 100% 50%);
        shape-outside: ellipse(70% 35% at 100% 50%);
    }

    .content_right:before {
        background-position: right center;
        float: left;
        margin-left: -1.5rem;
        clip-path: ellipse(70% 35% at 0% 50%);
        shape-outside: ellipse(70% 35% at 0% 50%);
    }

    .column_image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .column_image .elementor-element-populated {
        justify-content: center;
    }

    .section_shape_outside .elementor-column-gap-default {
        justify-content: space-around;
    }

    .elementor-752 .elementor-element.column_left_shape,
    .elementor-752 .elementor-element.column_right_shape {
        width: 40%;
    }

    .elementor-752 .elementor-element.column_image {
        width: 38%;
    }

    .section_shape_outside .content_left h2 {
        padding-right: 70px;
    }

    .section_shape_outside .content_right h2 {
        padding-left: 70px;
    }
}

@media (min-width: 992px) {
    .content-banner-full {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        z-index: 10;
    }

    .banner-full .elementor-widget-image > .elementor-widget-container:before {
        content: "";
        height: 100%;
        width: 50%;
        background: rgba(0, 0, 0, .55);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .content-banner-full .elementor-widget-container {
        padding: 2.8rem 3.6rem;
        z-index: 2;
    }

    .column_image {
        top: 43%;
    }

    .content_left:before {
        clip-path: ellipse(95% 35% at 100% 50%);
        shape-outside: ellipse(95% 35% at 100% 50%);
    }

    .content_right:before {
        clip-path: ellipse(95% 35% at 0% 50%);
        shape-outside: ellipse(95% 35% at 0% 50%);
    }

}

@media (min-width: 1024px) {
    .section_shape_outside h2 {
        font-size: 2.5em;
    }

    .section_shape_outside .elementor-widget-container h2:first-child {
        margin-bottom: 1.2rem;
    }

    .section_shape_outside p {
        font-size: 1.2em;
    }
}

@media (min-width: 1540px) {
    .content-banner-full .elementor-widget-container * {
        font-size: 1.7em;
    }

    .content-banner-full .elementor-widget-container *:not(:last-child) {
        margin-bottom: 3.2rem;
    }
}

@media (max-width: 991px) {
    .banner-full .elementor-widget:not(:last-child) {
        margin-bottom: 0;
    }

    .content-banner-full {
        background: #3f3f3f;
    }

    .content-banner-full .elementor-column-gap-default .elementor-col-50:first-child {
        display: none;
    }

    .content-banner-full .elementor-column-gap-default .elementor-col-50:last-child {
        display: block;
        width: 100%;
        padding: 20px 15px;
    }
}

@media (max-width: 767px) {
    .section_shape_outside {
        padding: 50px 15px;
    }

    .content_right {
        padding-top: 30px;
    }
}

/*End Gioi Thieu Cong Ty*/

/*Contact*/
.page-id-88 div#content section, .page-id-88 #main section, .postid-88 #main section {
    background: #fff;
    max-width: 1410px;
    max-width: 1216px;
    margin: 0 auto;

}

.form_submit input.wpcf7-not-valid, .form_submit .woocommerce-invalid input,
.form_submit textarea.wpcf7-not-valid {
    border-color: #FF0000;

}

.wpcf7 .wpcf7-not-valid-tip:after {
    display: none;
}

.wpcf7 .wpcf7-not-valid-tip {
    background: none;
    color: #FF0000;
}

.form_contact .wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.form_contact form div + p {
    width: 100%;
}

.form_contact form div + p ~ p {
    width: calc((100% - 20px) / 2)
}

.form_submit form div + p ~ p:last-child, .form_submit form div + p ~ p:nth-last-child(2) {
    width: 100%;
    margin-top: 20px;
}

.form_contact form .wpcf7-submit {
    background-color: #f5a623;
    border-radius: 4px;
}

.form_submit .wpcf7 form .wpcf7-response-output {
    margin: 0 auto;
    width: 100%;
}

/*End Contact*/

/*Tuyen Dung*/
.elementor .tuyen_dung img {
    object-fit: cover;
    width: 100%;
}

.form_tuyendung form .wpcf7-submit {
    background-color: #ff5200;
    border-radius: 4px;
    width: 100%;
}

.form_tuyendung form .wpcf7-spinner {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 767px) {
    .page-id-890 #main .row-main .col {
        padding: 0;
    }

    .page-id-890 #main .tuyen_dung > .elementor-column-gap-default > .elementor-column > .elementor-element-populated {
        padding: 0;
    }
}

/*End Tuyen Dung*/

/*B2B*/
.page-id-961 .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 100%;
}

.page-id-961 .row-main > .col {
    padding: 0;
}

.page-id-961 .feature-item img {
    width: 20px;
    margin-right: 10px;
}

.page-id-961 .feature-item {
    margin-bottom: 0.5em
}

.column_b2b {
    max-width: 590px;
    margin: 0 auto;
    background-color: #ED3324;
    padding: 48px 32px;
}

.form_b2b {
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 2rem 1rem;

}

.form_b2b form {
    text-align: left;
}

.form_b2b input {
    border-radius: 6px;
}

.form_b2b form p:nth-last-child(2) {
    text-align: center;
    position: relative;
}

.form_b2b .wpcf7-submit {
    background-color: #ED3324;
}

.form_b2b .wpcf7 + p {
    margin-bottom: 0;
}

.form_b2b .wpcf7-spinner {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: -22px;
    transform: translate(-50%, -50%);
    margin: 0;
}

.elementor-961 .column_b2b .elementor-element {
    text-align: center;
    color: #3F3F3F;
    margin-bottom: 0;
}

.support-message {
    color: #000;
    background: #e3e7e8;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .page-id-961 .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .column_b2b {
        padding: 8px 0;
    }
}


/*B2B*/

/*Product Page*/
.product-template-default .tabbed-content iframe {
    width: 50%;
}

.product-container .is-divider {
    display: none;
}

/*Compare Products*/
#cboxClose:hover {
    background-position: -100px 13px;
}

table.compare-list .add-to-cart td a:not(.unstyled_button) {
    background-color: red;
}

.compare {
    font-size: .9em;
    color: #0052aa;
    background: none;
    margin-left: 20px;
    position: relative;
}

.compare:hover {
    color: #0052aa;
}

.compare:before {
    content: "";
    background: #fff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(50% - 0px);
    transform: translateY(-50%);
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%230052aa" class="bi bi-plus" viewBox="0 0 16 16"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>');
    border: 1px solid #0052aa;
}

.home .compare {
    display: none;
}

/*Flash Sales*/
.tbay-shock-price .deals__qty > span {
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
}

.tbay-shock-price .deals__progress {
    border-radius: 10px 0 0 10px;
}

.tbay-shock-price .deals__progress[style="width: 100%;background:#fe0000;"] {
    border-radius: 10px;
}

.tbay-shock-price img {
    display: none;
}

.deals__progress[style="width: 0%; background:#fe0000;"] {
    display: none;
}

.flash_sales_countdown {
    padding-top: 27px;
}

.flash_sales_countdown .woocommerce {
    max-width: 1410px;
    max-width: 1186px;
    padding: 32px 15px 32px 15px;
    margin-bottom: 1px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0 0 0.5em 0.5em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.flash_sales_countdown .woocommerce .product {
    padding: 5px;
}

.flash_sales_countdown .woocommerce .product .col-inner {
    background: #fff;
    padding: 10px;
    transition: .3s;
    border-radius: 0.5em;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .10196078431372549), 0 2px 6px 2px rgba(60, 64, 67, .14901960784313725);
}

.home .flash_sales_countdown .tbay-shock-price {
    display: block;
}

.home .tbay-shock-price, .title_deal_today b {
    display: none;
}

.flip_clock_countdown .flip-clock-divider .flip-clock-label {
    display: none !important;
}

.flip_clock_countdown .flip-clock-wrapper ul {
    background: transparent;
    margin: 1px;
    width: 26px;
    height: 30px;
    font-size: 12px;
    line-height: 12px;
}

.flip-clock-wrapper ul li {
    line-height: 2;
}

.flip_clock_countdown .flip-clock-wrapper .flip {
    box-shadow: none;
}

.flip_clock_countdown .flip-clock-wrapper ul li a div div.inn {
    font-size: 17px;
}

.flip_clock_countdown .header_block_sales {
    height: 65px;
    padding: 0 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    font-size: 2.3em;
    font-weight: 700;
    background-size: cover;
    background: linear-gradient(0deg, #bb0015, #e7001a 100%, #d70018 0, #d70018 0, #fff 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.flip_clock_countdown .hot-deal,
.flip_clock_countdown .today {
    font-family: Signika, sans-serif;
    border: none;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    filter: drop-shadow(0 2px 0 #fe0000);
    text-shadow: 3px 0 #fe0000, -2px 0 #fe0000, 0 2px #fe0000, 0 -2px #fe0000, -2px -2px #fe0000, 3px 2px #fe0000, -2px 2px #fe0000, 3px -2px #fe0000;
}

.flip_clock_countdown .hot-deal {
    position: relative;
    top: -13px;
}

.block_render_falshsale .header .today {
    position: relative;
    bottom: -8px;
}

.material-symbols-rounded {
    background-size: 50px 48px;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 47px;
    background-image: url('data:image/svg+xml,<svg fill="%23ffc00e" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800px" height="800px" viewBox="0 0 30 30" xml:space="preserve"><g><path d="M11.001,30l2.707-16.334H5L11.458,0l9.25,0.123L16.667,8H25L11.001,30z"/></g></svg>')
}

.flip-clock-wrapper ul li a div.up:after {
    top: 15px;
}

.flip_clock_countdown .flip-clock-dot {
    width: 5px;
    height: 5px;
    border: 1px solid black;
    background-color: white !important;
    left: 20px;
}

.flip_clock_countdown .flip-clock-divider {
    width: 15px;
    height: 100%;
    min-height: 35px;
}

.flip_clock_countdown .flip-clock-dot.top {
    top: 11px;
}

.flip_clock_countdown .flip-clock-dot.bottom {
    top: 18px;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
    background-color: red;
}

.autocomplete-suggestions::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 10px;
}

.autocomplete-suggestions::-webkit-scrollbar-thumb {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding-top: 20px;
}

.autocomplete-suggestions::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: none;
    margin: 0 1px 1px 0;
}

body, html, .autocomplete-suggestions {
    scrollbar-width: thin !important;
    scrollbar-color: red transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: red;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding-top: 20px;
    width: 8px;
}

body::-webkit-scrollbar-track, html::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: none;
    margin: 0 1px 1px 0;
    width: 8px;
}

body .group_banner {
/ / max-width: 1186 px;
    padding-left: 15px;
    padding-right: 15px;
}

.vertical-tabs .col {
    padding-top: 10px

}

.circle .blog-author-image img {
    border-radius: initial !important;
}